<div class="container">
	<div class="page-header">
		<h1><%= @post.title %></h1>

		Posted by <%= @author_name %> on <%= @post.created_at.strftime('%B %d, %Y') %>

		<% if @current_user && @current_user.id == @post.author_id %>
			<a href="/post/<%= @post.id %>/edit">(Edit this post)</a>
		<% end %>
	</div>
	<%= @post.content %>
</div>